.grey-border{
    margin: 3%;
    border-style: solid;
    border-color: grey
}

.zero-radius-border {
    border-radius: 0px
}

.font-size-large{
    font-size: large
}

/* The Modal (background) */
.modal{
    max-height: 85%;
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    /* margin-top: 5%;
    margin-left: 30%;
    padding-top: 5%; Location of the box */
    margin: auto;
    overflow: auto; /* Enable scroll if needed */
    /*background-color: rgb(0,0,0); /* Fallback color */
    /*background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-card {
    max-height: 95%
}

.menu-label{
    font-size: 80%;
    font-weight: bold;
    color: black;
}
.menu-list{
    font-weight: noraml;
    font-size: 80%;
}