<div class="content">
  <ol>
    <li>
      You must carry your ID card at all times and produce them on demand from security. This particularly holds good
      if you are trying to come back into IIT campus from outside. There is a penalty of Rs 200 for not having the ID
      card with you and this penalty might be increased if you misbehave with the security personnel.
    </li>
    <li>
      No riding of manual/motorized two/four wheeler in the corridors of the academic area.
    </li>
    <li>
      Stay away from the lakeside area after dark and do not attempt to climb the hill as well. This is for your own
      safety, from animals and from falls that can result in grievous injury. There are penalties for violating these
      rules.
    </li>
  </ol>
  <p>
    Over the past year, quite a few laptops/mobiles have been stolen/lost/misplaced. Students need to be especially
    vigilant and careful. Such incidences have happened at all times of day and night.
  </p>
  <ol>
    <li>
      <span class="has-text-weight-bold">NEVER GO OUT LEAVING YOUR ROOM UNLOCKED</span>. If you have a room-mate who is
      in the habit of doing so, impress upon
      him or her that this is an inconvenience you cannot afford.
    </li>
    <li>
      <span class="has-text-weight-bold">WHEN YOU GO TO SLEEP LATCH YOUR ROOM</span>. Recently a laptop was stolen when
      a student was sleeping in the room. Set
      up a schedule with your roommate so that he or she does not have to wake you up at ungodly hours.
    </li>
    <li>
      <span class="has-text-weight-bold">IF SOMETHING IS LOST / STOLEN / MISPLACED REPORT FIRST TO SECURITY</span>.
      They will help you file a proper police
      complaint if required. There are certain categories of complaints, under which, even if you find your lost
      property, you have to deposit it with the police (else they seize the material), until the issue is resolved in
      court. Take the advice of security officers regarding this.
    </li>
    <li>
      <span class="has-text-weight-bold">IF YOU LOSE YOUR INSTITUTE ID-Card</span>, do not directly complain to the
      police. Complain to the security section.
      They will compile all such complaints over a period, and report to the police. Meanwhile, they will issue a
      Duplicate ID card after due process, fines, etc.
    </li>
    <li>
      <span class="has-text-weight-bold">IF YOU HAD ALREADY REPORTED ABOUT LOST ID-Card AND GOT A DUPLICATE ISSUED, BUT
        FOUND YOUR ORIGINAL ID-Card</span> after
      a while, please deposit the duplicate to the security section as soon as possible. If you are found with two ID
      cards,, you are liable to face the Disciplinary Action Committee and face a minimum punishment of semester
      suspension.
    </li>
    <li>
      <span class="has-text-weight-bold">HOSTEL ENTRY POLICY</span>: Male/female students may enter and retain
      female/male guests in their room between 7 AM to
      10 PM on all days barring special circumstances. However, when asked, the guest shall produce a valid
      identification and state the purpose of the visit. If your guest/guests is/are found in your room apart from the
      allotted timings, you are liable to face the Disciplinary Action Committee.
    </li>
  </ol>
  <p>
    <span class="has-text-weight-bold">In addition, with regards to your valuable possessions:</span>

  </p>
  <ol>
    <li>
      If you’re purchasing any valuable item, please keep the bill of that item. Also, check the details (like s.no.,
      frame no., model no. etc) mentioned in the bill match with that of the item. Keep all the details. <br>
      Examples: Bicycle- Chasis No. & Frame No. <br>
      Laptop: Sr. No., tag no., (Also, MAC ID) <br>
      Mobile: IMES No., (Also, MAC ID) <br>
    </li>
    <li>
      Keep the scanned copy of the bills of your valuable items.
    </li>
    <li>
      Take pictures of all the valuable items that you purchase. It is always useful to keep such records. They will
      come
      handy when the need arises.
    </li>
    <li>
      Please try to keep GPS system or tracker system switched on in the laptop and in the mobile.
    </li>
    <li>
      Always lock your cycle, irrespective of where you park it. Use steel chain and 5 lever locks (Branded lock) to
      lock
      your cycle instead of wire lock.
    </li>
    <li>
      Keep your valuable items in the personal cupboard, and keep the cupboard locked.
    </li>
    <li>
      If you see suspicious person or activity in wing or hostel, make sure you contact QRT or Vigilance or IITB
      Security
      Guard Room.
    </li>
  </ol>

  <p class="has-text-weight-bold">
    In case of an emergency, please contact on the below-mentioned number (Available 24*7)
  </p>
  <div class="notification is-primary">
    QRT: 9167398598, 9167398599 <br>
    Vigilance: 9833337979, 9833338989 <br>
    Main gate: 02225761100
  </div>
  <p>Best Wishes !!!</p>
</div>
