<div class="columns">
  <div class="column">
    <figure class="image">
      <img src="assets/hospital/hospital1.JPG" class="hospital-image" alt="">
    </figure>
  </div>
</div>

<div class="columns is-multiline">
  <div class="column">
    <a class="button is-outlined is-primary" target="_blank" href="http://www.iitb.ac.in/hospital/index.html">
      IITB Hospital Website
    </a>
  </div>
  <div class="column">
    <a class="button is-outlined is-primary" target="_blank" href="https://gymkhana.iitb.ac.in/HospitalFeedback/index.php">
      Hospital Feedback
    </a>
  </div>
  <div class="column">
    <a class="button is-outlined is-info" target="_blank" href="https://gymkhana.iitb.ac.in/~hostels/Hospital_Guidebook.pdf">
      Hospital Guidebook
    </a>
  </div>
</div>
