<section class="section">
  <div class="columns">
    <div class="column is-3 sidenav">
      <app-sidenav></app-sidenav>
    </div>
    <div class="column is-3 mobile-sidenav">
      <app-sidenav></app-sidenav>
    </div>
    <div class="column ha-content">
      <header>
        <app-header></app-header>
      </header>

      <main>
        <section class="section">
          <router-outlet></router-outlet>
        </section>
      </main>

      <footer></footer>
    </div>
  </div>
</section>
