<title>Hostel Delivery</title>

<div class="content">
  <p>Now enjoy the Hostel Delivery Service from Campus Food Outlets.</p>
  <h2 class="has-text-primary ">The Campus Hub</h2>
  <p>For the menu, <a href="https://gymkhana.iitb.ac.in/~hostels/Campus%20Hub%20Menu.pdf">click here</a></p>
  <p>
      Call Now : <br>
      022 - 65004560,<br>
      +91 98193 21736 <br>
      Minimum Order Value : Rs. 120 <br> 
      Delivery Timings : <br>
      Sunday to thursday : 9:00 AM - 1:00 AM <br>
      Friday and Saturday : 9:00 AM - 4:00 AM <br>
      Midsem / Endsem extension is applicable to delivery service too. <br>
  </p>
  <h2 class="has-text-primary ">Brewberrys Cafe</h2>
  <p>For the menu, <a href="https://gymkhana.iitb.ac.in/~hostels/Brewberrys%20Cafe%20Home%20Delivery%20Menu.pdf">click here</a></p>
  <p>
      Call Now: <br>
      022 - 65004550, <br>
      +91 9819321692 <br>
      Minimum Order Value : Rs. 120 <br>
      Delivery Timings:<br>
      Sunday to thursday : 9:00 AM - 1:00 AM <br>
      Friday and Saturday : 9:00 AM - 4:00 AM <br>
      Midsem / Endsem extension is applicable to delivery service too. <br> 
  </p>
</div>
