
<div class="columns">
  
  <div class="column is-4 is-8-mobile is-5-tablet is-5-desktop is-4-widescreen is-4-fullhd">
    <figure class="image">
      <img src="assets/hostels/images/{{hostel.image}}" alt="{{hostel.name}}">
    </figure>
  </div>
  <div class="column"></div>
  <div class="column is-6 is-12-mobile">
    <div class="content">
      <p class="title is-size-2 is-size-3-mobile is-size-4-widescreen is-size-1-fullhd">
        <a href="{{hostel.url}}" target="_blank" class="has-text-primary">{{hostel.hostel}}</a>
      </p>
      <dl>
        <dt class="has-text-weight-bold is-size-4 is-size-5-mobile is-size-5-widescreen is-size-2-fullhd">Phone No.</dt>
        <dd class="is-marginless is-size-4 is-size-6-mobile is-size-5-widescreen is-size-2-fullhd">{{ hostel.phoneNo }}</dd>
      </dl>
      <dl>
        <dt class="has-text-weight-bold is-size-4 is-size-5-mobile is-size-5-widescreen is-size-2-fullhd">GSec</dt>
        <dd class="is-marginless is-size-4 is-size-6-mobile is-size-5-widescreen is-size-2-fullhd">{{ hostel.gsec }}</dd>
      </dl>
      <dl>
        <dt class="has-text-weight-bold is-size-4 is-size-5-mobile is-size-5-widescreen is-size-2-fullhd">GSec's Number</dt>
        <dd class="is-marginless is-size-4 is-size-6-mobile is-size-5-widescreen is-size-2-fullhd">{{ hostel.gsecPhoneNo }}</dd>
      </dl>
    </div>
  </div>
</div>
