<title>Hall Manager Duties</title>

<div class="content">

  <span class="tag is-primary">
    Note to Students
  </span>

  <blockquote>
    Students shall go through the duties to understand the role and work of a hall manager in a hostel i.e address the complaints
    of the hostel to him/ her. Please make sure that the complaints are made in writing to the hall manager in order to have
    accountability of work.

  </blockquote>
  
  <p>Please find the duties here - <a href="https://gymkhana.iitb.ac.in/~hostels/Hallmanagerduties.pdf">Hall Manager Duties</a></p>
</div>
