<div class="content">
  <h3>Assigned Work to Institute Secretary of International Relations</h3>
</div>
<div class="timeline">
  <header class="timeline-header">
    <span class="tag is-medium is-primary">1</span>
  </header>
  <div class="timeline-item">
    <div class="timeline-marker"></div>
    <div class="timeline-content">
      <p>
        To coordinate with the Dean IR to allow for cultural exchange between students from various universities so that the students
        get a glimpse of the life in IIT Bombay. This I think will result in greater number of international students doing
        their Ph.D. in IIT Bombay and hence improve the level of research in IIT Bombay.
      </p>
    </div>
  </div>
  <header class="timeline-header">
    <span class="tag is-medium is-primary">2</span>
  </header>
  <div class="timeline-item">
    <div class="timeline-marker"></div>
    <div class="timeline-content">
      <p>
        To coordinate with the GSAA regarding the Academic Reforms Committee and prepare a report on the assessment pattern of selected
        universities to increase the academic involvement of the students during the semester.
      </p>
    </div>
  </div>
  <header class="timeline-header">
    <span class="tag is-medium is-primary">3</span>
  </header>
  <div class="timeline-item">
    <div class="timeline-marker"></div>
    <div class="timeline-content">
      <p>
        To coordinate with the IR office to update the IR website to show the relevant information regarding the student exchange
        program to ease the process .
      </p>
    </div>
  </div>
  <header class="timeline-header">
    <span class="tag is-medium is-primary">4</span>
  </header>
  <div class="timeline-item">
    <div class="timeline-marker"></div>
    <div class="timeline-content">
      <p>
        To represent the institute in front of the foreign contingents and make a list of people from various fields to interact
        with them in order to give them a more complete picture of IIT Bombay.
      </p>
    </div>
  </div>
  <header class="timeline-header">
    <span class="tag is-medium is-primary">5</span>
  </header>
  <div class="timeline-item">
    <div class="timeline-marker"></div>
    <div class="timeline-content">
      <p>
        To update the IR office about information regarding the MOU with other universities and see to it that the expired MOUs are
        re-signed as soon as possible.
      </p>
    </div>
  </div>
</div>
<br>
<div class="content">
  <p>Also checkout the <a href="http://www.ir.iitb.ac.in/">International Relations Page</a>.</p>
</div>