<div class="content is-size-6">

  <p>
    IIT Bombay has witnessed a large increase in the intake of students in this academic year, which resulted in a gradual decrease in the guest rooms and vacant rooms available in the hostels. Since we have very few Guest Room / Vacant Rooms available in the Hostels, The Institute has taken a call to shut down the Guest   Booking System. This was decided in order to keep guest rooms available for Institute Guests, Students Parents, Students Spouse or Interview Applicants.
  </p>

  <p>
    These are the following rules for Guest Room Bookings:
  </p>
  <ol>
      <li>Guest Rooms can be booked only for parents.</li>
      <li>Siblings (Brothers / Sisters) accompanying parents will be allowed for Guest booking.</li>
      <li>Guest Room can be booked for spouse (with valid marriage certificate).</li>
  </ol>
  
  <p>
    Students have to submit an offline application to Associate Dean Student Affairs attaching all necessary documents. Students have to submit the application at least 1 week prior the date of booking to avoid last minute constraints. Guest room booking is allowed only 20 days proir the date of booking.
  </p>
  <p>
    Thank you
  </p>

</div>