<div data-simplebar class="sidenav-menu animated fadeInLeft">

  <aside class="menu">
    <p class="menu-label is-size-3-fullhd is-size-4-widescreen">
      Hostel Affairs
    </p>
    <ul class="menu-list">
      <li *ngFor="let item of sidenavItems" class="is-size-4-fullhd is-size-6-widescreen">
        <a class="sidenav-item" routerLink="{{item.link}}" *ngIf="item.link">{{item.name}}</a>
        <a class="sidenav-item" href="{{item.url}}" *ngIf="item.url">{{item.name}}</a>
      </li>
    </ul>
  </aside>

</div>
