.sidenav-menu {
  background-color: white;
  width: 25%;
  /* to make sure it stays above navbar */
  z-index: 35 !important;
  position: fixed;
  top: 0;
  bottom: 0;
}

.menu {
  padding: 25px;
}

@media only screen and (max-width: 1088px) {
  .sidenav-menu {
    width: 300px;
  }
}
