<div data-simplebar class="sidenav-menu animated fadeInLeft">

  <aside class="menu">
    <p class="menu-label is-inline">
      Hostel Affairs
    </p>
    <a role="button" class="navbar-burger mobile-sidenav-close is-pulled-right is-active" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    <ul class="menu-list">
      <li *ngFor="let item of sidenavItems" class="">
        <a class="sidenav-item" routerLink="{{item.path}}" *ngIf="item.path">{{item.name}}</a>
        <a class="sidenav-item" href="{{item.url}}" *ngIf="item.url">{{item.name}}</a>
      </li>
    </ul>
  </aside>

</div>
