.sidenav-menu {
  background-color: white;
  padding: 25px;
  width: 25%;
  overflow-y: auto;
  overflow-x: hidden;
  /* to make sure it stays above navbar */
  z-index: 35 !important;
  position: fixed;
  top: 0;
  bottom: 0;
}

@media only screen and (max-width: 1088px) {
  .sidenav-menu {
    width: 300px;
  }
}
