<div class="notification is-primary">
  In case of more details, queries and clarifications
  <br>
  <dl>
    <dt>
      <strong>Contact</strong>
    </dt>
    <dd>Abhilash Karri</dd>
    <dd>(abhilashkarri29@gmail.com | +91-7738692865)</dd>
  </dl>
</div>

<div class="content">
  <h2>Live Tenders</h2>
  <ul class="content-list">
    <li>
      <p>
        We will have the commercial Bid meeting for Hostel Canteens and Aromas Delight on:
      </p>
      <p>
        Date - 2nd April 2019<br>
        Time - 4:00 PM<br>
        Venue - DD Conference Room
      </p>
    </li>
    <li>
      After the Technical Documents scrutiny, Following caterers have been shortlisted and Food outlet visits will be
      conducted from 18th March 2019.
      <br><br>
      Hostel Canteens:
      <ul>
        <li>Saisha Hospitality</li>
        <li>Kamala Catering Services</li>
        <li>Shubham Catering Services</li>
        <li>Sai Siddhi Hospitality</li>
        <li>Abhinandan Caterers</li>
        <li>Pradhanya Food & Hospitality</li>
        <li>Saanvi Star Hospitality Services</li>
        <li>Sai Cuisine Hospitality Services (3 & 16)</li>
        <li>Subhash Caterers</li>
        <li>Sai Balaji Catering Services</li>
        <li>Vehar Catering Services</li>
      </ul>
      Aromas Delight:
      <ul>
        <li>Saisha Hospitality</li>
        <li>Tirupati Hospitality</li>
        <li>Kamala Catering Services</li>
        <li>Shubham Catering Services</li>
        <li>V.N.Caterers</li>
      </ul>
    </li>

    <li>
      We are in the process of selection of the vendor to operate a Cycle shop located near Hostel-3 in the campus.
    </li>
    <li>
      <a target="_blank" href="https://gymkhana.iitb.ac.in/~hostels/contract/Cycle-tendering-document.pdf">
        Cycel Shop Tender Document
      </a>
    </li>

    <li>
      We are in the process of selection of catering contractors for the canteens in the Hostel - 3, 8 and 16.
    </li>
    <li>
      <a target="_blank" href="https://gymkhana.iitb.ac.in/~hostels/contract/Canteen-Tender.pdf">
        Hostel Canteen Tender Document
      </a>
    </li>

    <li>
      We are in the process of selection of the catering contractor for Aromas Delight (Eatery In front of Hostel-1)
    </li>
    <li>
      <a target="_blank" href="https://gymkhana.iitb.ac.in/~hostels/contract/Aromas-Delight-Tender-Document.pdf">
        Aromas Delight Tender Document
      </a>
    </li>
  </ul>
  <h2>Tenders 2018</h2>

  <h3>Stationary Shop Tendering</h3>
  <p>
    We are in the process of selection of the vendor to operate the Stationery shop in the premise located in the
    academic area (Near SOM) of campus.
  </p>
  <p>
    <a target="_blank" href="https://gymkhana.iitb.ac.in/~hostels/contract/Stationary_Shop_Tender.pdf">
      Stationary Shop Tender Document
    </a>
  </p>

  <h3>Hostels Canteen Tendering</h3>
  <p>We are in the process of selection of catering contractors for the canteens in the Hostel-4 and Tansa house.</p>
  <p>
    <a target="_blank" href="https://gymkhana.iitb.ac.in/~hostels/contract/Hostel_Canteen_Tender_2018.pdf">Hostel
      Canteen Tender</a>
  </p>

  <h3>Mess Tendering</h3>
  <p>We are in the process of selection of catering contractors for the mess in the Hostels : 2, 6, 10 and 12:13:14</p>
  <p>
    <a target="_blank" href="https://gymkhana.iitb.ac.in/~hostels/contract/Hostel_Mess_Tender_2018.pdf">Hostel Mess
      Tender</a>
  </p>

  <div class="is-divider"></div>
  <h2>Tenders 2017</h2>
  <a target="_blank" href="https://gymkhana.iitb.ac.in/~hostels/Mess-Tender-2515-Final">Mess Tender for Hostel - 2, 5
    and 15</a>
  <br>
  <a target="_blank"
    href="https://gymkhana.iitb.ac.in/~hostels/contract/InstituteEateriesTenderDocumentFINAL%20(1).pdf">Food
    Outlet in Campus</a>
  <br>
  <a target="_blank" href="https://gymkhana.iitb.ac.in/~hostels/contract/CanteenTenderDocument_FINAL.pdf">Canteens
    tender for Hostels 7, 8, 11, 15, 16 and Tansa. </a>
  <br>

  <h2>PHO Tenders and Scope of Work</h2>
  <a target="_blank" href="https://gymkhana.iitb.ac.in/~hostels/contract/Group_C_2016_New_work_order.pdf">Housekeeping
    Work Contract for Group-C 2016-17</a>
  <br>
  <a target="_blank" href="https://gymkhana.iitb.ac.in/~hostels/contract/work_order_D%20-2016.pdf">Housekeeping Work
    Contract for Group-D 2016-17</a>
  <br>
  <a target="_blank" href="https://gymkhana.iitb.ac.in/~hostels/contract/Scope_of_work-C-15-16.pdf">Scope of work - C
    2015-16</a>
  <br>
  <a target="_blank" href="https://gymkhana.iitb.ac.in/~hostels/contract/Scope_of_work-D-15-16.pdf">Scope of work - D
    2015-16</a>
  <br>
  <a target="_blank"
    href="https://gymkhana.iitb.ac.in/~hostels/contract/work%20order%20Group%20-%20C%20.2017-18%20.pdf">Work
    order - C- 2017-18</a>
  <br>
  <a target="_blank" href="https://gymkhana.iitb.ac.in/~hostels/contract/work%20order%20Group%20-%20D.2017-18.pdf">Work
    order - D- 2017-18</a>
  <br>

  <h2>Cycle Shop Tender</h2>
  <a target="_blank" href="https://gymkhana.iitb.ac.in/~hostels/contract/CycleShop-TenderFINAL.pdf">Cycle Shop of
    Institutes</a>
  <br>


  <h2>Mess Tenders</h2>
  <a target="_blank" href="https://gymkhana.iitb.ac.in/~hostels/contract/messtender14tansaFINAL%20(4).pdf">Mess Tender
    of Hostel 1, 4 and Tansa</a>
  <br>
  <a target="_blank" href="https://gymkhana.iitb.ac.in/~hostels/contract/messtender10FINAL%20(2).pdf">Mess Tender of
    Hostel 10</a>
  <br>
  <a target="_blank" href="https://gymkhana.iitb.ac.in/~hostels/contract/InstituteEateriesTenderFINAL.pdf">Food outlet
    of Campus</a>
  <br>

  <h2>Canteen Tenders</h2>
  <a target="_blank" href="https://gymkhana.iitb.ac.in/~hostels/contract/Canteen_tender_1,3,4,6,7,9,16.pdf">Canteen
    Tender - Hostel 1,3,4,6,7,9,16</a>
  <br>

  <h2>Electrical Maintenance Contract</h2>
  <a target="_blank" href="https://gymkhana.iitb.ac.in/~hostels/contract/EMD_contract.pdf">Electrical Maintenance
    Contract</a>
  <br>

</div>
