<div class="notification is-primary">
  In case of more details, queries and clarifications
  <br>
  <dl>
    <dt>
      <strong>Contact</strong>
    </dt>
    <dd>Saket Mohta</dd>
    <dd>(gsecha.iitb@gmail.com | +91-6204-464585)</dd>
  </dl>
</div>

<div class="content">
  <h2>Live Tenders</h2>

  <h3> Mess Tender </h3>
  <li><a target="_blank" href="https://gymkhana.iitb.ac.in/~hostels/contract/Mess_Tender_2021.pdf">
          Mess Tender 2021
      </a>
   </li>

  
  <h3> Cafe Tender</h3>
 
     <li><a target="_blank" href="https://gymkhana.iitb.ac.in/~hostels/contract/THE_TENDER_draft_1.pdf">
          Cafe Tender 2019
        </a>
       </li>
  <p>Last date for submitting the tender document for the cafe has been shifted to 9th September 2019, 5PM</p>

  <h3>The commercial bid meeting is shifted to 25th June 4PM</h3>
  <ul class="content-list">
    We are in the process of selection of catering contractors for the mess in the Hostels : 10, 16 and 18.
    <br>Hostel-3,9,11 have withdrawn from mess tendering due to some technical issues. Bids will not be open for the hostel-3,9 and 11.
    <br> Last date to fill the tender is 30th May.

   

	
        


        <li><a target="_blank" href="https://gymkhana.iitb.ac.in/~hostels/contract/Mess-Tender-2019-for-H-3910111618.pdf">
          Mess tender 2019
        </a>
      </li>
    </ul>
  
  <h2>Tenders 2019 - Closed</h2>
  <ul class="content-list">
    <li>
      These tenders have been finalized as of Feb 2019:
      <ul>
        <li>
          <a target="_blank" href="https://gymkhana.iitb.ac.in/~hostels/contract/Cycle-tendering-document.pdf">
            Cycel Shop Tender Document
          </a>
        </li>
        <!-- <li>
      We are in the process of selection of catering contractors for the canteens in the Hostel - 3, 8 and 16.
    </li> -->
        <li>
          <a target="_blank" href="https://gymkhana.iitb.ac.in/~hostels/contract/Canteen-Tender.pdf">
            Hostel Canteen Tender Document
          </a>
        </li>

        <!-- <li>
      We are in the process of selection of the catering contractor for Aromas Delight (Eatery In front of Hostel-1)
    </li> -->
        <li>
          <a target="_blank" href="https://gymkhana.iitb.ac.in/~hostels/contract/Aromas-Delight-Tender-Document.pdf">
            Aromas Delight Tender Document
          </a>
        </li>
      </ul>
    </li>
  </ul>
  <h2>Tenders 2019</h2>

  <h3>Stationary Shop Tendering</h3>
  <p>
    We are in the process of selection of the vendor to operate the Stationery shop in the premise located in the
    academic area (Near SOM) of campus.
  </p>
  <p>
    <a target="_blank" href="https://gymkhana.iitb.ac.in/~hostels/contract/Stationary_Shop_Tender.pdf">
      Stationary Shop Tender Document
    </a>
  </p>

  <h3>Hostels Canteen Tendering</h3>
  <p>We are in the process of selection of catering contractors for the canteens in the Hostel-4 and Tansa house.</p>
  <p>
    <a target="_blank" href="https://gymkhana.iitb.ac.in/~hostels/contract/Hostel_Canteen_Tender_2018.pdf">Hostel
      Canteen Tender</a>
  </p>

  <h3>Mess Tendering</h3>
  <p>We are in the process of selection of catering contractors for the mess in the Hostels : 2, 6, 10 and 12:13:14</p>
<p>these vendor has qualified the technical document scrunity.</p>
V. N. Caterers
<br>
Jaiswal Canteen (A)
<br>
Sanvi Star Hospitality Pvt Ltd
<br>
K Star Food & Hospitality Services
<br>
Super Care Catering Services Pvt Ltd
<br>
Cheftalk Food & Hospitality Services Pvt Ltd
<br>
Vidya Caterers
<br>
NDS Hospitality Services Pvt Ltd
<br>
Shree Chakra Gourmet Service
<br>
Kuber Healthfood & Allied Services Pvt Ltd
<br>
Nityachaitanya Hospitality Pvt Ltd
<br>
Sai Hospitality Services
<br>
Trinova Hospitality Services Pvt Ltd
<br>
Shree Annapurneshwari Allied Services Pvt Ltd
<br>
Kumar Food Management Services
<br>
Annapurna Catering Services
<br>
Vehar Canteen Services
<br>
Manjushree Caterers
<br>
Saikripa Foods Services Pvt Ltd
<br>
Venture Professional Hospitality Pvt Ltd
<br>
Subhash Caterers
<br>
Krystal Gourmet Pvt Ltd
<br>
The commercial bid meeting is shifted to 25th June 4pm
<br>
Technical shortlist will be uploaded by 24th June in the evening
 <p>
    <a target="_blank" href="https://gymkhana.iitb.ac.in/~hostels/contract/Hostel_Mess_Tender_2018.pdf">Hostel Mess
      Tender</a>
    <a target="_blank" href="https://gymkhana.iitb.ac.in/~hostels/contract/THE_TENDER_draft_1.pdf">Cafe Tender</a>
  </p>

  <div class="is-divider"></div>
  <h2>Tenders 2017</h2>
  <a target="_blank" href="https://gymkhana.iitb.ac.in/~hostels/Mess-Tender-2515-Final">Mess Tender for Hostel - 2, 5
    and 15</a>
  <br>
  <a target="_blank"
    href="https://gymkhana.iitb.ac.in/~hostels/contract/InstituteEateriesTenderDocumentFINAL%20(1).pdf">Food
    Outlet in Campus</a>
  <br>
  <a target="_blank" href="https://gymkhana.iitb.ac.in/~hostels/contract/CanteenTenderDocument_FINAL.pdf">Canteens
    tender for Hostels 7, 8, 11, 15, 16 and Tansa. </a>
  <br>

  <h2>PHO Tenders and Scope of Work</h2>
  <a target="_blank" href="https://gymkhana.iitb.ac.in/~hostels/contract/Group_C_2016_New_work_order.pdf">Housekeeping
    Work Contract for Group-C 2016-17</a>
  <br>
  <a target="_blank" href="https://gymkhana.iitb.ac.in/~hostels/contract/work_order_D%20-2016.pdf">Housekeeping Work
    Contract for Group-D 2016-17</a>
  <br>
  <a target="_blank" href="https://gymkhana.iitb.ac.in/~hostels/contract/Scope_of_work-C-15-16.pdf">Scope of work - C
    2015-16</a>
  <br>
  <a target="_blank" href="https://gymkhana.iitb.ac.in/~hostels/contract/Scope_of_work-D-15-16.pdf">Scope of work - D
    2015-16</a>
  <br>
  <a target="_blank"
    href="https://gymkhana.iitb.ac.in/~hostels/contract/work%20order%20Group%20-%20C%20.2017-18%20.pdf">Work
    order - C- 2017-18</a>
  <br>
  <a target="_blank" href="https://gymkhana.iitb.ac.in/~hostels/contract/work%20order%20Group%20-%20D.2017-18.pdf">Work
    order - D- 2017-18</a>
  <br>

  <h2>Cycle Shop Tender</h2>
  <a target="_blank" href="https://gymkhana.iitb.ac.in/~hostels/contract/CycleShop-TenderFINAL.pdf">Cycle Shop of
    Institutes</a>
  <br>


  <h2>Mess Tenders</h2>
  <a target="_blank" href="https://gymkhana.iitb.ac.in/~hostels/contract/messtender14tansaFINAL%20(4).pdf">Mess Tender
    of Hostel 1, 4 and Tansa</a>
  <br>
  <a target="_blank" href="https://gymkhana.iitb.ac.in/~hostels/contract/messtender10FINAL%20(2).pdf">Mess Tender of
    Hostel 10</a>
  <br>
  <a target="_blank" href="https://gymkhana.iitb.ac.in/~hostels/contract/InstituteEateriesTenderFINAL.pdf">Food outlet
    of Campus</a>
  <br>

  <h2>Canteen Tenders</h2>
  <a target="_blank" href="https://gymkhana.iitb.ac.in/~hostels/contract/Canteen_tender_1,3,4,6,7,9,16.pdf">Canteen
    Tender - Hostel 1,3,4,6,7,9,16</a>
  <br>

  <h2>Electrical Maintenance Contract</h2>
  <a target="_blank" href="https://gymkhana.iitb.ac.in/~hostels/contract/EMD_contract.pdf">Electrical Maintenance
    Contract</a>
  <br>

</div>
