<h1 class="is-size-1">Alumni Affairs</h1>
<br>
<div class="content">
  <h1>Institute Level</h1>
  <p>
    The students of IIT Bombay have built everlasting relationships between the alumni and the students. In the two years since
    its inception, volunteers have been working round the year to publicize various alumni events, batch reunions, updating
    alumni databases, finding lost souls(alumni with whom we have completely lost contact) and raising funds for the institute
    through its Alumni Outreach Program – Phonathon.
  </p>
  <p>
    They are also working towards increasing the interaction between alumni and the current students by organizing Alumni Lecture
    Series and Panel discussions on a range of issues, facilitating interns for students.
  </p>
  <p>
    Website:
    <a href="http://www.sarc-iitb.org">www.sarc-iitb.org</a>
  </p>
  <p>
    The eventual aim of the alumni body is to create a self sustaining Alumni Development Cell in IIT Bombay completely managed by student volunteers.
  </p>
  <h1>Hostels</h1>
  <p>
      Considering the fact that in IIT hostel is home away from home, a hostel alumni secretary is appointed in each hostel. He works as the hostel representative who connects with alumni and present the point of view of current hostel inmates. Alumni Day in December is the platform when dialog between alumni and hostel secretary can take place on a large scale. He also looks into the mailing groups that are present among the alumni and students of each hostel. 
  </p>
  <h1>People involved in Alumni Affairs</h1>
  <ul>
      <li>Prof. Ravi Sinha, Dean Alumni and Corporate Relations</li>
      <li>Mr. Bakul Desai, Chairman IITBAA (Alumni Association)</li>
      <li>Mr. Damayanti Bhattacharya, CEO IITBAA</li> 
  </ul>
</div>
